---
layout: page
id: draft
---

<br>
<div class="alert-box alert">
  These are just drafts!
  <a href="" class="close">&times;</a>
</div>

<ul class="accordion">
  {% for node in site.posts %}

    {% if node.subtitle == 'draft' %}
      <li>
        <div class="title">
          <h5>{{node.title}}</h5>
        </div>
        <div class="content">

          <div class="verspace">
            {{node.content}}
          </div>

            <a class="button right" href="/wpq{{node.url}}"><i class="icon-paper-clip"></i>  article</a>

        </div>
      </li>
      {% endif %}

{% endfor %}
</ul>

