<!-- tweet box -->
{% if page.tweet %}
  <div class="eight columns">
    <div class="panel radius">

        {% if page.tweet == 'todo' %}
            {% assign tweet = 'FYI:' %}
        {% else %}
            {% assign tweet = page.tweet %}
        {% endif %}

        <h5>Share</h5>
        <p>{{tweet}} http://plovs.github.com/wpq/{{ page.url }} via:plovs</p>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://plovs.github.com/wpq/{{ page.url }}" data-text="{{tweet}}" data-via="plovs" data-hashtags="wordpress">Tweet</a>


    </div>
  </div>
{% endif %}

