<!-- tweet box -->
{% if page.tweet %}
  <div class="eight columns">
    <div class="panel radius">
        <h5>Just tweet this:</h5>
        <p>{{page.tweet}} via:plovs</p>

        <a href="http://twitter.com/share" class="twitter-share-button" data-text="{{page.tweet}} via:@{{site.twitter_user}}" data-url="{{ site.url }}/wpq/{{ page.url }}" data-via="{{ site.twitter_user }}" data-counturl="{{ site.url }}/wpq/{{ page.url }}"  data-count="none" target="_blank">Tweet</a>

    </div>
  </div>
{% endif %}

